@import "./_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

.login {
  background-color: $background-color;
  height: 70vh;
  width: 50vw;
  margin: auto;
  font-family: $font-family;
  color: white;
  box-shadow: 0px 30px 60px -5px #000;
  border-radius: $border-radius;

  @media screen and (max-width: 1200px) {
    height: 90vh;
    width: 70vw;
  }
}

.signin {
  width: 155px;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  border-bottom: 2px solid $button-color;
}

.flex-inputs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: -20px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    margin-left: -23px;
    height: 200px;
  }
}

.label {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  opacity: 0.8;
  display: inline-block;
  padding-left: 30px;
  transition: all 0.5s ease-in-out;
}

.text {
  border: none;
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &:focus {
    background-color: $background-color;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
}

.custom-checkbox {
  position: relative;
  top: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  margin-left: 85px;

  @media screen and (max-width: 1200px) {
    margin-left: 100px;
    top: -15px;
  }

  &:checked {
    background-color: $button-color;
    transition: all 0.35s ease-in-out;

    &:after {
      content: "\2714";
      font-size: 10px;
      position: absolute;
      top: 1px;
      left: 4px;
      color: #fff;
    }
  }
}

.checkbox {
  display: inline-block;
  padding-top: 10px;

  @media screen and (max-width: 1200px) {
    position: relative;
    top: -20px;
  }
}

.signinB {
  background-color: $button-color;
  color: #fff;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    width: 90%;
  }

  &:hover {
    background: #7534df;
    box-shadow: 0px 4px 35px -5px #7534df;
    cursor: pointer;
  }
}

hr {
  position: relative;
  top: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 80%;
}

a {
  text-align: center;
  display: block;
  top: 15px;
  position: relative;
  text-decoration: none;
  color: white;
  opacity: 0.8;

  @media screen and (max-width: 1200px) {
    top: 10px;
  }
}
